<?php
return [
    //open
    'open.qide.url'     => '{{getv "/saas/production/open/qide/url"}}',
    'open.qide.appId'   => '{{getv "/saas/production/open/qide/appId"}}',
    'open.qide.appSecret'   => '{{getv "/saas/production/open/qide/appSecret"}}',
    'open.qide.rate'    => {{getv "/saas/production/open/qide/exchangeRate"}}
];